{% extends 'base.html' %}

{% block content %}

<div class="row">
<div class="col-md-5">
{% if subscription %}
    <span>Your subscriptions to MyService is Active</span>

    <p>Subscription ID: {{ subscription.profileid }}</p>
    <a href="{% url 'cancel' subscription.profileid %}">Cancel subscription</a>
    <br>

{% else %}
    <span>You have no subscription</span>
    <form method="post" action="">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Subscribe</button>
    </form>
{% endif %}
    <br>
{% if refundable %}
    <table class="table table-condensed">
    <th>Recent payments</th>
    {% for key, value in refundables.items %}
        {% if value.transactionid != subscription.profileid %}
            <tr>
            <td>{{ value.date }}</td>
            <td>{{ value.transactionid }}</td>
            <td><a href="{% url 'refund' value.transactionid %}">Request refund</a></td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
{% else %}
    <p>No transaction history</p>
{% endif %}
</div>
</div>
{% endblock %}